@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #131722;
  color: #fff;
}
a , a:hover{
  text-decoration: none;
  color: #fff;
}

ul li{
  cursor: pointer;
}
.defaultcursor{
  cursor: default;
}
.brdr{
background-color: #313131;
height: 1px;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
